@import url("https://fonts.googleapis.com/css?family=Barlow:400,600|DM+Sans:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

a {
  color: inherit;
  text-decoration: inherit;
}








.textLabel {
  color: var(--white, white);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.textSubhead {
  color: var(--dark-gray, black);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.restartArrow {
  height: 75px;
  width: 75px;

  /* margin-top: 80px; */
  transition: all 0.6s cubic-bezier(0.58, 0.005, 0.385, 0.995);
}
.restartArrow:hover {
  transform: rotate(-75deg);
}

/* Selection Button Container */
.medium-grayBG {
  background-color: var(--medium-gray, gray);
}
.medium-grayBorder {
  border-color: var(--medium-gray, gray);
}

.beginArrow {
  background-image: url("../media/next.svg");
  height: 41px;
  width: 50px;
  background-repeat: no-repeat;
  margin-top: 80px;
}

/* RippleWave */
.rippleWave {
  width: 300px;
  height: 300px;

  background: #f5f8fc;
  border: 24px solid #f8fbff;
  box-sizing: border-box;
  box-shadow: 22px 22px 60px rgba(55, 84, 170, 0.1), -22px -22px 60px #FFFFFF,
  inset 12px 12px 80px rgba(40, 62, 130, 0.3), inset -16px -16px 80px #FFFFFF;
  filter: blur(13px);
  border-radius: 605px;
  position: relative;
}

.launchTextWrapper {
  position: relative;
  margin: 0 auto;
  /* width: 2300px; */
  height: 96vh;
  z-index: 2;
}
/* calibration page */

.calibrationPara {
  font-family: "Barlow";
  font-size: 24px;
  line-height: 40px;
  /* or 167% */

  color: #111e47;
}
.calibrationLogo {
  margin-bottom: -3px;
  margin-left: 3px;
  margin-right: 3px;
}

.calibrationArrowContainer {
  display: flex;
  flex-direction: row;
  /* height: 50px; */
  /* margin-bottom: -140px; */
  align-items: center;
  padding: 20px 30px;
  border: solid;
  border-radius: 50px;
  color: #9dacca;
  /* left: 50%; */
  width: max-content;
}
.calibrationTextContainer {
  /* position: absolute; */
  width: 533px;
  height: 450px;
  margin-top: -110px;
  /* left: 120px; */
}
.calibrationArrowContainer:hover .beginArrowLine {
  transition: all 185ms cubic-bezier(0.58, 0.005, 0.385, 0.995);
  background-color: #e8edf4;
  width: 100px;
}

.calibrationArrowContainer:hover .beginArrowPoint {
  border-color: #e8edf4;
}

.calibrationButtonContainer {
  margin-top: 60px;
}
.calibrationArrowContainer:hover {
  background-color: #84a4f6;
  border-color: #84a4f6;
  cursor: pointer;
}

.restartButtonContainer {
  right: 120px;
  bottom: 150px;
}

.restartTextContainer {
  left: 140px;
  bottom: 230px;
}










/* COLOR VARIABLES TODO - WHICH ONES ARE ACTUALLY USED? ALSO, FIX ALL COLOR NAMES AND HEX CODES) */
:root {
  --white: #f5f8fc;
  --red: #d2290a;
  --light-blue: #c0d1fc;
  --medium-blue: #84a4f6;
  --dark-blue: #304fa1;
  --darker-blue: #283e82;
  --light-gray: #dadfe8;
  --medium-gray: #9dacca;
  --dark-gray: #111e47;
}







/****************************************************************************************/


/* TRANSITIONS */
@keyframes homeText {
  0% {
    opacity: 0;
    bottom: 0;
  }
  100% {
    opacity: 1;
    bottom: 10vw;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* HOME PAGE FIREFLIES */
canvas {
  z-index: 0;
}


/* FULL PAGE WRAPPER */
.wrapper {
  width: 100vw;
  height: 100vh;

  background-color: #E8EDF4;

  opacity: 1;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* WRAPPER FADE OUT TRANSITION */
.wrapperFade {
  opacity: 0;
}

/* HOME PAGE BACKGROUND */
#homeBg {
  background-image: url("../media/launch-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* TEXT CONTAINER */
.launchTextContainer {
  position: absolute;
  left: 10vw;
  bottom: 10vw;
  z-index: 1;

  opacity: 1;
  animation: homeText 1s ease-in-out;
}

/* MAIN HEADER */
.textHeadline {
  color: var(--dark-gray, black);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 8vw;
  line-height: 8.25vw;
  letter-spacing: -0.02em;

  margin-bottom: 25px;
}

/* INFO TEXT */
.textParagraph {
  color: var(--dark-gray, darkslategray);
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 2vw;
  line-height: 3vw;
}


/* BEGIN BUTTON CONTAINER */
.beginButtonContainer {
  width: 40vw;
  height: 40vw;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

/* BEGIN BUTTON OUTER OUTLINE SHADOW */
.beginButton {
  width: 60%;
  height: 60%;

  background: #E8EDF4;
  box-shadow: 26.2778px 26.2778px 71.6667px rgba(47, 67, 125, 0.2),
  -26.2778px -26.2778px 40px #FFFFFF,
  inset 4.77778px 4.77778px 11.9444px rgba(255, 255, 255, 0.1),
  inset -19.1111px -19.1111px 95.5556px rgba(255, 255, 255, 0.2);
  filter: blur(3px);
  border-radius: 100%;
}

/* BEGIN BUTTON INNER CONTENT */
.beginCircle {
  width: 50%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;

  border: 2px solid #111E47;
  border-radius: 100%;
}
.beginCircle:hover {
  cursor: pointer;
}

/* BEGIN ARROW CONTAINER */
.beginArrowContainer {
  display: flex;
  align-items: center;
}

/* BEGIN ARROW LINE */
.beginArrowLine {
  width: 4vw;
  height: 2px;

  background-color: #111E47;

  transition: width 185ms cubic-bezier(0.58, 0.005, 0.385, 0.995);
}
.beginCircle:hover .beginArrowLine {
  width: 8vw;
}

/* BEGIN ARROW POINT */
.beginArrowPoint {
  width: 2.5vw;
  height: 2.5vw;

  transform: rotate(315deg);

  border: 2px solid #111E47;
  border-top: none;
  border-left: none;

  margin-left: -3vw;
}

/* "BEGIN" BUTTON TEXT */
.beginText {
  color: #111E47;
  font-size: 3.5vw;

  margin-top: 10%;
}


/* MOBILE VERSION */
@media screen and (max-width: 480px) {
  /* HOME PAGE FIREFLIES */
  canvas {
    display: none;
  }


  /* HOME PAGE BACKGROUND */
  #homeBg {
    background-image: none;
  }

  /* TEXT CONTAINER */
  .launchTextContainer {
    height: 45%;

    position: relative;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    animation: none;

    background-color: #111E47;
    padding-left: 10%;
    padding-bottom: 10%;
  }

  /* MAIN HEADER */
  .textHeadline {
    color: #E8EDF4;
    font-size: 18vw;
    line-height: 18vw;

    margin-bottom: 10px;
  }

  /* INFO TEXT */
  .textParagraph {
    color: #E8EDF4;
    font-size: 3vw;
    line-height: 5.5vw;
  }


  /* BEGIN BUTTON CONTAINER */
  .beginButtonContainer {
    width: 100%;
    height: 45%;
  }

  /* BEGIN BUTTON OUTER OUTLINE SHADOW */
  .beginButton {
    width: 50vw;
    height: 50vw;
  }

  /* BEGIN BUTTON INNER CONTENT */
  .beginCircle {
    width: 40vw;
    height: 40vw;
  }

  /* BEGIN ARROW LINE */
  .beginArrowLine {
    width: 8vw;
  }
  .beginCircle:hover .beginArrowLine {
    width: 15vw;
  }

  /* BEGIN ARROW POINT */
  .beginArrowPoint {
    width: 4vw;
    height: 4vw;

    margin-left: -5vw;
  }

  /* "BEGIN" BUTTON TEXT */
  .beginText {
    color: #111E47;
    font-size: 7vw;

    margin-top: 10%;
  }
}












/*@media only screen and (max-width: 1250px) {*/
/*  .beginButtonContainer {*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    right: 63px;*/
/*    bottom: 140px;*/
/*    !* display: none; *!*/
/*  }*/
/*  .beginButton {*/
/*    !* position: absolute; *!*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    left: 1174px;*/
/*    top: 576px;*/
/*  }*/
/*  .beginCircle {*/
/*    width: 260px;*/
/*    height: 260px;*/
/*  }*/
/*  .textParagraph {*/
/*    !* font-size: 1.2rem;*/
/*    line-height: 2.15rem; *!*/
/*  }*/
/*  .textHeadline {*/
/*    font-size: 5rem;*/
/*    line-height: 5.25rem;*/
/*  }*/
/*  .launchTextContainer {*/
/*    bottom: 130px;*/
/*  }*/
/*}*/

/*@media only screen and (max-width: 920px) {*/
/*  .launchTextWrapper {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    left: 0;*/
/*  }*/
/*  .beginButtonContainer {*/
/*    bottom: 0px;*/
/*    margin-top: 30px;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    position: relative;*/
/*  }*/
/*  .launchTextContainer {*/
/*    position: relative;*/
/*    left: 0px;*/
/*    bottom: 0px;*/
/*  }*/
/*}*/

/*@media only screen and (max-width: 560px) {*/
/*  .textParagraph {*/
/*    font-size: 1.2rem;*/
/*    line-height: 2rem;*/
/*  }*/
/*  .textHeadline {*/
/*    font-size: 4rem;*/
/*    line-height: 4.25rem;*/
/*  }*/
/*}*/
