@import url("https://fonts.googleapis.com/css?family=Barlow:400,600|DM+Sans:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

html,
body {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-size: 16px;
  vertical-align: baseline;

  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  z-index: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
/* CSS Variables Font and Text */
:root {
  --white: #f5f8fc;
  --red: #d2290a;
  --light-blue: #c0d1fc;
  --medium-blue: #84a4f6;
  --dark-blue: #304fa1;
  --darker-blue: #283e82;
  --light-gray: #dadfe8;
  --medium-gray: #9dacca;
  --dark-gray: #111e47;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #e8edf4;
}

.homebg {
  background-color: #e8edf4;
  background-image: url("../media/launch-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.mainMenuFade {
  opacity: 0;
}
.textLabel {
  color: var(--white, white);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
.textHeadline {
  color: var(--dark-gray, black);
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  letter-spacing: -0.02em;
  font-size: 7rem;
  line-height: 7.25rem;
  margin-bottom: 5px;
}
.textSubhead {
  color: var(--dark-gray, black);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}
.textParagraph {
  color: var(--dark-gray, darkslategray);
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* Buttons */
.beginButtonContainer {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

.beginButton {
  /* position: absolute; */
  width: 344px;
  height: 344px;
  left: 1444px;
  top: 576px;

  background: #e8edf4;
  box-shadow: 26.2778px 26.2778px 71.6667px rgba(47, 67, 125, 0.2),
    -26.2778px -26.2778px 40px #ffffff,
    inset 4.77778px 4.77778px 11.9444px rgba(255, 255, 255, 0.1),
    inset -19.1111px -19.1111px 95.5556px rgba(255, 255, 255, 0.2);
  filter: blur(3px);
  border-radius: 100%;
}
.beginText {
  font-size: 44px;
  /* line-height: 73px; */
  /* or 166% */
  /* margin-bottom: 60px; */
  text-align: center;

  color: #111e47;
}
.beginCircle {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0 auto;
  width: 288px;
  height: 288px;
  /* left: 1472px; */
  /* top: 604px; */
  border-radius: 100%;
  border: 2px solid #111e47;
  justify-content: space-around;
  align-items: center;
}
.beginArrow {
  background-image: url("../media/next.svg");
  height: 41px;
  width: 50px;
  background-repeat: no-repeat;
  margin-top: 80px;
}
.beginArrowContainer {
  display: flex;
  flex-direction: row;

  /* height: 50px; */
  margin-bottom: -140px;
  align-items: center;
}

.beginArrowLine {
  width: 40px;
  height: 2px;
  background-color: #111e47;
  /* border-radius: 1px; */
  transition: all 185ms cubic-bezier(0.58, 0.005, 0.385, 0.995);
}
.beginCircle:hover {
  cursor: pointer;
}
.beginCircle:hover .beginArrowLine {
  transition: all 185ms cubic-bezier(0.58, 0.005, 0.385, 0.995);
  width: 100px;
}
.beginArrowPoint {
  width: 25px;
  height: 25px;
  border: 2px solid #111e47;
  border-left: none;
  border-top: none;
  transform: rotate(315deg);
  margin-left: -30px;
  /* border-radius: 1px; */
}
/* RippleWave */
.rippleWave {
  width: 300px;
  height: 300px;

  background: #f5f8fc;
  border: 24px solid #f8fbff;
  box-sizing: border-box;
  box-shadow: 22px 22px 60px rgba(55, 84, 170, 0.1), -22px -22px 60px #ffffff,
    inset 12px 12px 80px rgba(40, 62, 130, 0.3), inset -16px -16px 80px #ffffff;
  filter: blur(13px);
  border-radius: 605px;
  position: relative;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes homeTextAnime {
  0% {
    opacity: 0;
    bottom: 0px;
  }
  100% {
    opacity: 1;
    bottom: 110px;
  }
}
.launchTextContainer {
  z-index: 1;
  position: absolute;
  left: 140px;
  bottom: 110px;
  opacity: 1;
  animation: homeTextAnime 1s ease-in-out;
}

.launchTextWrapper {
  position: relative;
  margin: 0 auto;
  /* width: 2300px; */
  height: 96vh;
  z-index: 2;
}
/* Selection Button Container */
.medium-grayBG {
  background-color: var(--medium-gray, gray);
}
.medium-grayBorder {
  border-color: var(--medium-gray, gray);
}

/* calibration page */

.calibrationPara {
  font-family: "Barlow";
  font-size: 24px;
  line-height: 40px;
  /* or 167% */

  color: #111e47;
}
.calibrationLogo {
  margin-bottom: -3px;
  margin-left: 3px;
  margin-right: 3px;
}

.calibrationArrowContainer {
  display: flex;
  flex-direction: row;
  /* height: 50px; */
  /* margin-bottom: -140px; */
  align-items: center;
  padding: 20px 30px;
  border: solid;
  border-radius: 50px;
  color: #9dacca;
  /* left: 50%; */
  width: max-content;
}
.calibrationTextContainer {
  /* position: absolute; */
  width: 533px;
  height: 450px;
  margin-top: -110px;
  /* left: 120px; */
}
.calibrationArrowContainer:hover .beginArrowLine {
  transition: all 185ms cubic-bezier(0.58, 0.005, 0.385, 0.995);
  background-color: #e8edf4;
  width: 100px;
}

.calibrationArrowContainer:hover .beginArrowPoint {
  border-color: #e8edf4;
}

.calibrationButtonContainer {
  margin-top: 60px;
}
.calibrationArrowContainer:hover {
  background-color: #84a4f6;
  border-color: #84a4f6;
  cursor: pointer;
}
