html,
body {
  background-color: #e8edf4;
  background-image: none;
}

.textQuestion {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 96px;
  /* or 100% */
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;

  color: var(--dark-gray, black);
}

.textOption {
  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 61px;
  /* or 169% */
  text-align: center;
  color: var(--medium-gray, #5a6587);
  /* position: absolute; */
  animation: fadeIn 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.questionTextContainer {
  /* position: absolute;  */
  width: 533px;
  height: 300px;
  margin-top: -110px;
  /* left: 120px; */
  /* top: 343px;*/
}

.navigationControls {
  /* left: 120px; */
  /* top: 910px; */

  margin-bottom: -200px;
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  width: 300px;
}
.navArrowContainer:hover .beginArrowLine {
  transition: all 185ms cubic-bezier(0.58, 0.005, 0.385, 0.995);
  /* width: 100px; */
}
.navArrowContainer {
  display: flex;
  flex-direction: row;

  /* height: 50px; */
  /* margin-bottom: -140px; */
  align-items: center;
  padding: 20px 30px;
  /* border: solid; */
  border-radius: 50px;
  color: #9dacca;
  left: 50%; /*Add this*/
  transform: translate(-50%, 0);
}

/* .navArrowContainer:hover .beginArrowLine {
  transition: all 185ms cubic-bezier(0.58, 0.005, 0.385, 0.995);
  background-color: #e8edf4;
  width: 100px;
}

.navArrowContainer:hover .beginArrowPoint {
  border-color: #e8edf4;
} */
.navArrowContainer:hover .beginArrowLine {
  background-color: #5a6587;
}

.navArrowContainer:hover .beginArrowPoint {
  border-color: #5a6587;
}
.calibrationButtonContainer {
  margin-top: 60px;
}

/* .navArrowContainer:hover {
  background-color: #84a4f6;
  border-color: #84a4f6;
  cursor: pointer;
} */

.progressIndicator {
  /* margin: 0px 100px 15px; */
  margin: 0px 100px 0px 0px;
}

/* Pill Container */
.pillContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pillContentContainer {
  /* position: absolute; */

  width: 282px;
  height: 516px;
  margin-left: 60px;
  margin-right: 60px;
  /* transition: 0.5s; */
}

.pillShape {
  width: inherit;
  height: inherit;
  position: absolute;
  background: #e8edf4;
  box-shadow: 22px 22px 60px rgba(47, 67, 125, 0.2), -22px -22px 60px #ffffff,
    inset 4px 4px 10px rgba(255, 255, 255, 0.1),
    inset -16px -16px 80px rgba(255, 255, 255, 0.2);
  filter: blur(3px);
  border-radius: 400px;
}
.pillContent {
  position: absolute;
  /* background-color: black; */
  position: relative;
  /* width: 282px; */
  height: 100%;
  border-radius: 400px;
  transform: scale(0.9);

  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask-size: cover;
  -webkit-mask-size: cover;
  -webkit-animation: pillWipeIn 2s steps(29) forwards;
  animation: pillWipeIn 2s steps(29) forwards;
}

@keyframes pillWipeIn {
  0% {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  100% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes pillWipeOut {
  0% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  100% {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
.pillRowContainer {
  display: flex;
  flex-direction: row;
}
.questionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
}
.questionInfoContainer {
}
.oneText {
  width: 188px;
  height: 45px;
  left: 760px;
  top: 731px;
}
.twoText {
  width: 185px;
  height: 61px;
  left: 1165px;
  top: 731px;
}
.threeText {
  width: 262px;
  height: 45px;
  left: 1528px;
  top: 731px;
}

.selectedOuter {
  /* CSS for a selected outer option */
}

.optionOuter {
  /* position: absolute; */
  width: 135px;
  height: 135px;
  background: #e8edf4;
  box-shadow: 22px 22px 60px rgba(47, 67, 125, 0.2), -22px -22px 60px #ffffff,
    inset 4px 4px 10px rgba(255, 255, 255, 0.1),
    inset -16px -16px 80px rgba(255, 255, 255, 0.2);
  filter: blur(5px);
  border-radius: 135px;
}

.optionOuter:hover {
  background: #f5f8fc;
  transition: all 185ms cubic-bezier(0.58, 0.005, 0.385, 0.995);
}

.optionInner {
  position: absolute;
  width: 43px;
  height: 43px;
  /* left: 833px; */
  /* top: 879px; */
  margin: 0 auto;
  /* margin-bottom: -310px; */
  margin-top: -89px;
  margin-left: 41px;
  border-radius: 43px;
  border: 2px solid rgba(157, 172, 202, 0.5);
  transition: all 185ms cubic-bezier(0.58, 0.005, 0.385, 0.995);
}

.pillButtonContainer:hover .optionOuter {
  background: #f5f8fc;
}
.pillButtonContainer:hover .optionInner {
  border: 4px solid #84a4f6;
  box-shadow: 0px 0px 11px #84a4f6;
}

.selected {
  border: 4px solid #84a4f6;
  box-shadow: 0px 0px 11px #84a4f6;
}
.hovered {
  border: 2px solid #84a4f6;
}
.flipBy180 {
  transform: rotate(180deg) translate(-50%, 0);
  transform-origin: left;
}
@media screen and (max-width: 2000px) {
  .textQuestion {
    font-size: 76px;
    line-height: 69px;
  }
  .navigationControls {
    margin-bottom: -260px;
    margin-top: 130px;
  }
  .pillContentContainer {
    width: 218px;
    height: 376px;
  }
  .optionInner {
    width: 33px;
    height: 33px;
    margin-top: -69px;
    margin-left: 31px;
  }
  .optionOuter {
    width: 105px;
    height: 105px;
  }
  .textOption {
    font-size: 26px;
    line-height: 41px;
  }
  .questionTextContainer {
    width: 422px;
  }
}
