/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Barlow|DM+Sans:500&display=swap");

/* COLOR VARIABLES */
:root {
  --white: #F5F8FC;
  --off-white: #E8EDF4;
  --light-gray: #C3CDDE;
  --medium-gray: #9DACCA;
  --dark-gray: #5A6587;
  --medium-blue: #84A4F6;
  --dark-blue: #111E47;
}

/* ANIMATIONS */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes toCurrentBreadcrumb {
  0% {
    width: 1vw;
    background-color: var(--light-gray);
  }
  100% {
    width: 3vw;
    background-color: var(--medium-blue);
  }
}
@keyframes fromPreviousBreadcrumb {
  0% {
    width: 3vw;
    background-color: var(--medium-blue);
  }
  100% {
    width: 1vw;
    background-color: var(--light-gray);
  }
}
@keyframes imageWipeIn {
  0% {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  100% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes imageWipeOut {
  0% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  100% {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

/* FULL PAGE WRAPPER */
.wrapper {
  width: 100vw;
  height: 100vh;

  background-color: var(--off-white);
}

  .questionWrapper {
    height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 5vw;
  }

    .questionInfoContainer {
      width: 30%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      margin-right: 10%;
    }

      /* QUESTION TEXT */
      .questionTextContainer {
        height: 300px;

        display: flex;
        align-items: center;

        margin-bottom: 100px;
      }

        .questionText {
          font-family: "DM Sans", sans-serif;
          font-size: 5vw;
          letter-spacing: -0.02em;
          color: var(--dark-blue);

          animation: fadeIn 1s ease-in-out;
        }

        .questionTextFadeOut {
          opacity: 0;
          animation: fadeOut 1s ease-in-out;
        }

      /* NAVIGATION */
      .navigationControls {
        width: 75%;

        display: flex;
        justify-content: space-between;
        align-items: center;
      }

        .navBreadcrumbContainer {
          width: 10vw;

          display: flex;
          justify-content: space-evenly;
        }

          .navBreadcrumb {
            width: 1vw;
            height: 1vw;

            border-radius: 1vw;
            background-color: var(--light-gray);
          }

          .navCurrentBreadcrumb {
            width: 3vw;

            background-color: var(--medium-blue);
            animation: toCurrentBreadcrumb 1s ease-in-out;
          }

          .navPreviousBreadcrumb {
            animation: fromPreviousBreadcrumb 1s ease-in-out;
          }

        .navArrowContainer {
          display: flex;
          align-items: center;
        }

          .navArrowLine {
            width: 2.5vw;
            height: 2px;

            background-color: var(--dark-blue);

            transition: all 185ms ease-in-out;
          }

          .navArrowPoint {
            width: 1.5vw;
            height: 1.5vw;

            transform: rotate(-45deg);

            border: 2px solid var(--dark-blue);
            border-top: none;
            border-left: none;

            margin-left: -1.75vw;

            transition: all 185ms ease-in-out;
          }

          .flipBy180 {
            transform: rotate(180deg);
          }

        .navArrowContainer:hover .navArrowLine {
          cursor: pointer;
          background-color: var(--medium-gray);
        }
        .navArrowContainer:hover .navArrowPoint {
          cursor: pointer;
          border-color: var(--medium-gray);
        }

    .optionRowContainer {
      width: 60%;
      height: 80%;

      display: flex;
      justify-content: space-between;
    }

    /* OPTIONS */
    .optionContainer {
      width: 25%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

      .optionImageContainer {
        width: 100%;

        position: relative;

        display: flex;
        align-items: center;
      }

        .pillShape {
          width: 100%;
          height: 25vw;

          position: absolute;

          background-color: var(--off-white);
          box-shadow: 22px 22px 60px rgba(47, 67, 125, 0.2), -22px -22px 60px #FFFFFF,
            inset 4px 4px 10px rgba(255, 255, 255, 0.1),
            inset -16px -16px 80px rgba(255, 255, 255, 0.2);
          filter: blur(3px);
          border-radius: 400px;
        }

        .optionImage {
          width: 100%;
          height: auto;

          transform: scale(0.75);

          -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
          mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
          -webkit-mask-size: cover;
          mask-size: cover;
          -webkit-animation: imageWipeIn 2s steps(29) forwards;
          animation: imageWipeIn 2s steps(29) forwards;
        }

        .imageWipeOut {
          -webkit-animation: imageWipeOut 2s steps(29) forwards;
          animation: imageWipeOut 2s steps(29) forwards;
        }

      .optionText {
        width: 100%;
        height: 20%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: "Barlow", sans-serif;
        font-size: 2vw;
        color: var(--dark-gray);
        text-align: center;

        animation: fadeIn 1s ease-in-out;
      }

      .optionTextFadeOut {
        opacity: 0;
        animation: fadeOut 1s ease-in-out;
      }

      .buttonContainer {
        width: 100%;
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
      }

        .buttonOuter {
          width: 100px;
          height: 100px;

          position: absolute;

          background-color: var(--off-white);
          box-shadow: 22px 22px 60px rgba(47, 67, 125, 0.2), -22px -22px 60px #FFFFFF,
            inset 4px 4px 10px rgba(255, 255, 255, 0.1),
            inset -16px -16px 80px rgba(255, 255, 255, 0.2);
          filter: blur(5px);
          border-radius: 100px;
          transition: all 185ms ease-in-out;
        }

        .buttonInner {
          width: 30px;
          height: 30px;

          position: absolute;

          border: 2px solid var(--medium-gray);
          border-radius: 40px;
          transition: all 185ms ease-in-out;
        }

      .buttonContainer:hover .buttonOuter {
        cursor: pointer;
        background-color: var(--white);
      }
      .buttonContainer:hover .buttonInner {
        cursor: pointer;
        border: 4px solid var(--medium-blue);
        box-shadow: 0 0 11px var(--medium-blue);
      }

      .selected {
        border: 4px solid var(--medium-blue) !important;
        box-shadow: 0 0 11px var(--medium-blue) !important;
      }


/* MOBILE VERSION */
@media screen and (max-width: 1000px) {

  .questionWrapper {
    flex-direction: column;
    justify-content: center;
  }

    .questionInfoContainer {
      width: 100%;

      justify-content: center;
      align-items: center;

      margin-right: 0;
    }

      /* QUESTION TEXT */
      .questionTextContainer {
        height: 150px;
      }

        .questionText {
          font-size: 8vw;
        }

      /* NAVIGATION */
      .navigationControls {
        width: 25%;
      }

    .optionRowContainer {
      width: 100%;
      height: 60%;

      justify-content: space-evenly;
      align-items: center;
    }

      /* OPTIONS */
      .optionContainer {
        height: 90%;
      }

        .pillShape {
          height: 35vw;
        }

        .optionText {
          font-size: 3.5vw;
        }

        .buttonOuter {
          width: 75px;
          height: 75px;
        }

        .buttonInner {
          width: 30px;
          height: 30px;
        }

}